[Unit]
Description=Gunicorn instance to server FTP
After=syslog.target network.target

[Service]
User=lv
Group=lv
Type=forking
PIDFile=/home/teaching/pysite/run/app.pid
WorkingDirectory=/home/teaching/pysite
ExecStart=/home/teaching/pysite/webservers/start.sh
ExecStop=/home/teaching/pysite/webservers/stop.sh
PrivateTmp=true

[Install]
WantedBy=multi-user.target
