[Unit]
Description=Gunicorn instance to server FTP
After=syslog.target network.target

[Service]
User=teaching
Group=teaching
Type=forking
PIDFile=/home/teaching/ftp/run/app.pid
WorkingDirectory=/home/teaching/ftp
ExecStart=/home/teaching/ftp/webservers/start.sh
ExecStop=/home/teaching/ftp/webservers/stop.sh
PrivateTmp=true

[Install]
WantedBy=multi-user.target
